@{
    ViewBag.Title = "kalenteri";
}

@Styles.Render("~/Content/fullcalendar.css")
@Styles.RenderFormat(@"<link href=""~/Content/fullcalendar.print.css"" rel=""stylesheet"" media=""print"" />", "~Content/css")
@Scripts.Render("~/Scripts/lib/moment.min.js")
@Scripts.Render("~/Scripts/fullcalendar.js")

<div class="row">
    <div class="col-md-6"><h2>Omat varaukset</h2></div>
</div>

<div id='calendar'></div>

@section Footer {
    @Scripts.Render("~/Scripts/App/Models.js")
    @Scripts.Render("~/Scripts/OwnCalendar.js")
    <script type="text/javascript">
        window.OwnCalendar.Init('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.user))');
    </script>
}